* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

header {
    /* display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    height: 100px;
    width: 100%;
    align-items: center;          
    background: #C41419;    
    color: #F9DC94;
    margin: 0 auto; */
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.2) 100%);    box-shadow: inset 0 0 5px black; */
    background: #C41419;
    box-shadow: inset 0 0 5px #F9DC94;
    margin-bottom: 20px;
}

header h1{
    color: #F9DC94;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navItem {
    color: #F9DC94;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.navItem:hover {
    color: white;
    cursor: pointer;
}

.messageUnderHeader{
    position: relative;
    background-color:#F9DC94 ;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -ms-flex-align: center;
    z-index: 5;
    color: #C41419;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.jokeLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin:-60px 0 0 -60px;
    animation-name: book;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
}

@keyframes book {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dadJoke {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 20px;
    background-color:#C41419 ;
    opacity: 73%;
    color: #F9DC94;
    height: 300px;
    width: 500px;
    z-index: -3;
}

body {
    /* IMAGE API FOR DADS - SOME RANDOM IMAGES */
    /* background-image: url('https://source.unsplash.com/1600x900/?dad'); */

    /* IMAGE API FOR DADS - LESS RANDOM IMAGES BUT STILL SOME */
    /* background-image: url('https://source.unsplash.com/1600x900/?collections/6759551/dad'); */

    /* IMAGE API FOR CLASSIC CARS - THAT'S DAD RIGHT? */
    /* background-image: url('https://source.unsplash.com/1600x900/?classic-cars'); */

    /* IMAGE API FOR CIGARS - DAD'S PUFF CIGARS RIGHT? */
    /* background-image: url('https://source.unsplash.com/1600x900/?cigar-lounge'); */

    /* IMAGE API FOR GARAGE TOOLS - MIGHT BE DECENT? */
    /* background-image: url('https://source.unsplash.com/1600x900/?garage-tools'); */

    /* background-image: url('https://www.pexels.com/search/classic%20car/'); */
    background-image: url('https://source.unsplash.com/collection/9644740/1600x900');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background-color: #a0171b; */
}

.loginMenu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 20px;
    background-color:#C41419 ;
    opacity: 73%;
    color: #F9DC94;
    height: 300px;
    width: 500px;
    z-index: -3;
}

.loginMenuContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: -330px;
}

.signInMenuContent{ 
    text-align: center;
    height: 250px;
    margin-top: -300px;
}

.signUpSection {
    position: relative;
    background-color:#F9DC94 ;
    height: 50px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35;
    display: flex;
    -ms-flex-align: center;
    z-index: 5;
    color: #C41419;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.signUpLink{
    background-color: #C41419;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    color: #F9DC94;
    text-decoration: none;
    line-height: 35px;
    height: 35px;
    width: 100px;
}

.signUpLink:hover{
    background-color: #C41419;
    color: #6B7F82;
    cursor: pointer;
}

.loginInputs{
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: center;
    height: 30px;
    width: auto;
    color: #F9DC94;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.signInInputs{
    position: relative;
    color: #F9DC94;
    margin-top: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.signInInputs label{
    font-size: 20px;
    margin-right: 10px;
}

.signInInputs input{
    height: 30px;
}

.buttonContainer{
    position: relative;
}

.loginButton{
    cursor: pointer;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -60px;
    background-color: #F9DC94;
    opacity: 100%;
    color: #C41419;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.signInButton{
    cursor: pointer;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: 100px;
    background-color: #C41419;
    opacity: 100%;
    color: #F9DC94;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.loginButton:hover{
    background-color: #F9DC94;
    color:#6B7F82 ;
    cursor: pointer;
}

.inputareas {
    margin-left: 10px;
}

/* .pageContainer{
    background-color: #F9DC94;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    align-items: center;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.single-product {
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F9DC94;
    margin: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
} */

#products {
    text-align: center;
}

.page-header-image {
    /* background: url(could be cool); */
    background-color: #F9DC94;
    background-size: cover;
    background-position: center;
}

.page-header {
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.2) 100%);    box-shadow: inset 0 0 5px black; */
    background: #F9DC94;
    box-shadow: inset 0 0 5px #C41419;
    margin-bottom: 20px;
}

.header-text {
    font-weight: 500;
    text-shadow: 0px 0px 5px #F9DC94;
    /* text-shadow: 1px 1px 5px white; */
    /* color: #b5a264; */
    color: #C41419;
    /* color: black; */
}

.filter {
    display: grid;
    grid-template-columns: 25vw 1fr;
    padding: 10px 50px 10px 50px;
    grid-gap: 40px;

    color: #F9DC94;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 8px;
    /* background: orange; */
}

fieldset {
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    /* background: orange; */
}


.filter .MuiInputBase-root {
    color: #F9DC94;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 8px;
    /* background: #C41419; */
}

.filter .MuiFormControl-root {
    width: 100%;
}

.filter .MuiInput-underline:before {
    border-bottom: 2px solid #C41419;
}

.filter .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #F9DC94;
}


.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 20px;
    padding: 20px 50px 20px 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 100%;
}

.product-card {
    box-shadow: 1px 1px 5px #F9DC94;
    border: 1px solid #F9DC94;
    display: grid;
    grid-template-rows: 240px;
    grid-gap: 10px;
    background-color: #C41419;
    color: #F9DC94;
}

.product-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: fit-content;
    width: fit-content; */
}

.product-card h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.4rem;
    border-top: 3px solid #6B7F82;
    padding-top: 10px;
}

.product-card h3 {
    font-size: 1.4rem;
    /* padding-top: 10px; */
    margin-top: 15px;
}

#product-button {
    margin-top: 20px;
    background-color: #F9DC94;
    color: #C41419;
}

#product-button:hover {
    /* margin-top: 20px;
    background-color: #F9DC94;
    color: #C41419; */
    /* box-shadow: 2px 2px 20px 9px #9b0e13; */
    box-shadow: 2px 2px 20px 10px #f5db9a;
    border: 1px solid #C41419;
} 


.add-product {
    /* display: grid;
    grid-template-columns: 25vw 1fr;
    padding: 10px 50px 10px 50px;
    grid-gap: 40px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #F9DC94;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 8px;
    width: 100%;
    /* background: orange; */
}

fieldset {
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    /* background: orange; */
}


.add-product .MuiInputBase-root {
    color: #F9DC94;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 8px;
    /* background: #C41419; */
}

.add-product .MuiFormControl-root {
    width: 100%;
}

.add-product .MuiInput-underline:before {
    border-bottom: 2px solid #C41419;
}

.add-product .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #F9DC94;
}

#cart {
    text-align: center;
}

.cart-header {
    background-color: #F9DC94;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 5px #F9DC94;
    color: #C41419;
}

.cart-items {
    margin-left: 30rem;
    margin-right: 30rem;
}

.cart-item {
    background-color: #C41419;
    padding: 20px 50px 20px 50px;
    color:#F9DC94;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #F9DC94;
    border: 1px solid #F9DC94;
}

#cart-button {
    margin-top: 20px;
    background-color: #F9DC94;
    color: #C41419;
}

#cart-button:hover {
    /* margin-top: 20px;
    background-color: #F9DC94;
    color: #C41419; */
    /* box-shadow: 2px 2px 20px 9px #9b0e13; */
    box-shadow: 2px 2px 20px 10px #f5db9a;
    border: 1px solid #C41419;
} 

.cart-footer {
    margin-top: 1rem;
    color: #F9DC94;
    -webkit-text-stroke: .5px black;
}

.confirmation-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.25);
}

.confirmation-content {
    min-width: 480px;
    min-height: 20%;
    padding: 2rem;
    background: whitesmoke;
    position: absolute;
    max-height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}